.footer {
  padding: 2rem 0;
  background: var(--lightGrey);
  font-size: 1.2rem;
}

.footer a {
  color: black;
  text-decoration: none;
}

.title-section {
  font-size: 1.2em;
}

.title-green {
  color: #989936;
}

.title-red {
  color: #cd6632;
}

.text-green {
  color: #989936;
}

.text-red {
  color: #cd6632;
}

.quote-text {
  line-height: 1.4;
}

.link-small {
  text-decoration: none;
}

.link-small:hover {
  text-decoration: none;
  color: #cd6632;
}

body {
  font-family: 'Arimo', sans-serif;
}

.ProfilePhoto {
  width: 50px;
  height: 50px;
}

.icon-homepage {
  font-size: 60px;
}

.client-logo {
  height: 2em;
}
